* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content {
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    background-color: rgb(248, 239, 255);
    height: 300px;
    width: 900px;
}

.top-logo {
    height: 250px;
    display: block;
    margin: 0 auto;
}

.main h1 {
    text-align: center;
}

.main-img-center {
    height: 350px;
}