* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.top {
    width: 1200px;
    background-color: rgb(248, 239, 255);
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.top-logo {
    height: 250px;
}

.main h1 {
    text-align: center;
}

.main-img-center {
    height: 350px;
}