* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.content-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content {
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(248, 239, 255);
}

.stripes {
    height: 55px;
    width: 100%;
    background-color: #662377;
}

.main h1, .main h4 {
    text-align: center;
    margin-bottom: 1rem;
}

.main-img-center {
    height: 350px;
    display: block;
    margin: 0 auto 2rem auto;
}

.main-left, .main-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main-left h2, .main-right h2{
    margin-bottom: 1rem;
}

.main-img-left, .main-img-right {
    width: 80%;
}

.main-img-left, .main-img-right, .main-img-center {
    border-radius: 25px;
}

.main-bottom {
    display: flex;
}

.main-bottom div {
    width: 50%;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.candle-img {
    height: 148px;
    display: block;
    margin: 0 auto;
}
